FONT {
	font-family: Verdana,Helvetica; 
	font-size: 10px;
}

TD {
	font-family: Verdana,Helvetica; 
	font-size: 10px;
}

BODY {
	font-family: Verdana,Helvetica; 
	font-size: 10px;
}

P {
	font-family: Verdana,Helvetica; 
	font-size: 10px;
}

DIV {
	font-family: Verdana,Helvetica; 
	font-size: 10px;
}

/* The content of the posts (body of text) */
body {
	background: url(../back.gif);
	color:#000000;
	font:12px Verdana,Arial,Helvetica,sans-serif;
	scrollbar-3dlight-color:#C7C7C7;
	scrollbar-arrow-color:#945656;
	scrollbar-darkshadow-color:#BABABA;
	scrollbar-face-color:#EDEDED;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#EDEDED;
	scrollbar-track-color:#F4F4F4;
}

/* General text */
.gensmall {
	font-size:10px;
}

td.genmed,.genmed {
	font-size:11px;
}

.explaintitle {
	font-size:11px;
	font-weight:bold;
	color:#555D6A;
}

/* General page style */
a:link,a:active,a:visited,a.postlink {
	color:#0E0707;
	text-decoration:none;
}

a:hover {
	color:#5493b4;
}

/* titles for the topics:could specify viewed link colour too */
.topictitle {
	font-size:11px;
	font-weight:bold;
}

a.topictitle:visited {
	color:#5493b4;
}

a.topictitle:hover {
	color:#5493b4;
}


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name {
	font-size:11px;
	font-weight: bold;
}

hr {
	border: 0px solid #ffffff;
	border-top-width:1px;
	height:0px;
}

/* Category gradients*/
td.cat {
	font-weight:bold;
	letter-spacing:1px;
	background:#ffffff url(../forums/images/cellpic1.gif);
	height:27px;
	text-indent:4px;
}

.newsbar {
	background: #FCFCFC url(../images/newsbar_top.jpg);
	font-size:11px;
	color: #F7F7F7;
	font-weight: bold; 
	text-align: left;
	height: 29px;
	padding:0px 4px 0px 4px;
}

.articles {
	background: #FFFFFD url(../images/newsbar_bottom.jpg);
	color: #0781AA;
	font-weight: normal; 
	text-align: left;
	height: 24px;
	padding:0px 4px 0px 4px;
}


.articles_base {
	background: #FFFFFD url(../images/newsbar_bottom.jpg);
	color: #0781AA;
	font-weight: normal; 
	padding:6px 4px 4px 4px;
}

/* Main table cell colours and backgrounds */
.row1 {
	background:#EBEBEB;
}

.row2,.helpline {
	background:#E9E9E9;
}

.row3 {
	background:#E6E5E5;
}

td.spacerow {
	background:#DAD8D8;
}

/* This is for the table cell above the Topics,Post & Last posts on the index.php */
td.rowpic {
	background:url(../forums/images/cellpic1.gif) #ffffff repeat-x;
}

/* Table Header cells */
th {
	background:#B20000 url(../forums/images/navbar.jpg);
	color:#F7F7F7;
	font-size:11px;
	font-weight:bold;
	height:27px;
	white-space:nowrap;
	text-align:center;
	padding-left:8px;
	padding-right:8px;
}

/* This is the border line & background colour round the entire page */
.bodyline {
	background:#ffffff;
	border:1px solid #98aab1;
}

/* This is the outline round the main forum tables */
.forumline{background:#ffffff;border:1px solid #555D6A}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1 {
	font:bold 12px Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
	color:#555D6A;
}

.subtitle,h2 {
	font:bold 12px Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
}

/* Used for the navigation text,(Page 1,2,3 etc) and the navigation bar when in a forum */
.nav {
	font-size:11px;
	font-weight:bold;
}

.postbody {
	font-size:12px;
	line-height:125%;
}

/* Location,number of posts,post date etc */
.postdetails {
	font-size:10px;
	color:#00396a;
}


/* Code blocks */

.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #990000;
	background-color: #FCFCFC; border: #555D6A; border-style: dotted;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #0C0C0C; line-height: 125%;
	background-color: #FCFCFC; border: #555D6A; border-style: dotted;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* This is for the error messages that pop up */
.errorline {
	background:#B51F2A;
	border:1px solid #555D6A;
}

/* Form elements */
input {
	border-color: #555D6A; 
	color:#000000; 
	font:normal 11px Verdana,Arial,Helvetica,sans-serif;
	border-width: 1px 1px 1px 1px;
}

textarea,textarea.post {
	border-color: #555D6A; 
	color:#000000; 
	background-color: #FCFCFC; 
	font:normal 11px Verdana,Arial,Helvetica,sans-serif;
	border-width: 1px 1px 1px 1px;
}

select {
	border-color: #555D6A; 
	color:#000000; 
	font:normal 11px Verdana,Arial,Helvetica,sans-serif;
}

/* The text input fields background colour */
input.post, input.submit, input.go, input.catbutton,select {
	background:url(../forums/images/buttons.gif) #FCFCFC repeat-x;
}

input{
	background: #FAFAFA;
	font-weight:bold;
	text-indent:2px;
	border-top: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
}

/* The buttons used for bbCode styling in message post */
input.button {
	background:url(../forums/images/buttons.gif) #FCFCFC repeat-x; 
	color:#000000; 
	font:11px Verdana,Arial,Helvetica,sans-serif;
}

/* The main submit button option */
input.mainoption {
	background:url(../forums/images/buttons.gif) #FCFCFC repeat-x;
	font-weight:bold;
}

/* None-bold submit button */
input.liteoption {
	background:url(../forums/images/buttons.gif) #FCFCFC repeat-x;
	font-weight:normal;
}

/* This is the line in the posting page which shows the rollover
help line. Colour value in row2 */
.helpline {
	border-style:none;
}


/* This is the gradient background at the top of the page */
.topbkg {
	background: #EAEAEA url(../forums/images/cellpic_bkg.jpg) repeat-x;
}

.topnav {
	font-size:10px;
	background: #EAEAEA url(../forums/images/cellpic_nav.gif) repeat-x;
	color:#FF7E00;
	height:21px; 
	white-space:nowrap;
	border: 0px solid #91a0ae;
	border-width: 1px 0px 1px 0px;
}

.topnav2 {
	font-size:10px;
	color:#FF7E00;
	height:21px;
	white-space:nowrap;
	border: 0px;
}

/* Admin & Moderator Colours MODification */
.admin,.mod {
	font-size:11px;
	font-weight:bold;
}

.admin,a.admin,a.admin:visited {
	color:#ffa34f;
}

.mod,a.mod,a.mod:visited {
	color:#006600;
}

a.admin:hover,a.mod:hover {
	color:#FF7E00;
}

/* Specify the space around images */
.imgtopic,.imgicon {
	margin-left:3px;
}

.imgspace {
	margin-left:1px;margin-right:2px;
}

.imgfolder {
	margin:1px;margin-left:4px;margin-right:4px;
}

/* Gets rid of the need for border="0" on hyperlinked images */
img {
	border:0
}

.title {
	background: none; 
	color: #555D6A; 
	font-size: 13px; 
	font-weight: bold; 
	font-family: Verdana, Helvetica; text-decoration: none;
}

.content {
	background: none; 
	color: #555D6A 
	font-size: 10px; 
	font-family: Verdana, Helvetica;
}

.block-title {
	background: none; 
	color: #555D6A; 
	font-size: 11px; 
	font-family: Verdana, Helvetica;
}


.storycat {
	background: none; 
	color: #555D6A; 
	font-size: 10px; 
	font-weight: bold; 
	font-family: Verdana, Helvetica; text-decoration: underline;
}

.boxtitle {
	background: none; 
	color: #555D6A; 
	font-size: 10px; 
	font-weight: bold; 
	font-family: Verdana, Helvetica; text-decoration: none;
}

.boxcontent {
	background: none; 
	color: #555D6A; 
	font-size: 10px; 
	font-family: Verdana, Helvetica;
}

.option {
	background: none; 
	color: #555D6A; 
	font-size: 10px; 
	font-weight: bold; 
	font-family: Verdana, Helvetica; text-decoration: none;
}

.tiny {
	background: none; 
	color: #555D6A; 
	font-size: 10px; 
	font-weight: normal; 
	font-family: Verdana, Helvetica; text-decoration: none;
}

.small {
	background: none; 
	color: #555D6A; 
	font-size: 9px; 
	font-weight: normal; 
	font-family: Verdana, Helvetica; text-decoration: none;
}

.dcode {
	background: none; 
	color: #FFFFFF; 
	font-size: 10px; 
	font-weight: bold; 
	font-family: Verdana, Helvetica; text-decoration: none;
}

.dcode2 {
	background: none; 
	color: #FFBA00; 
	font-size: 10px; 
	font-weight: bold; 
	font-family: Verdana, Helvetica; text-decoration: none;
}

.cr {
	font-family: verdana; 
	font-size: 10px; 
	filter: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=1);
}

/* Background images for tables */
 .tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(../forums/images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(../forums/images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(../forums/images/tb4_r.gif) no-repeat;width:8px}

