<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="Plesk_Handler_065630416" path="*.asp" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_065630591" path="*.cer" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_065630592" path="*.asa" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_065630593" path="*.cdx" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="c:\windows\system32\inetsrv\asp.dll" resourceType="Either" />
            <add name="Plesk_Handler_065630594" path="*.php" verb="*" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\php\php.exe" resourceType="Either" />
            <add name="Plesk_Handler_065630595" path="*.php3" verb="*" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\php\php.exe" resourceType="Either" />
            <add name="Plesk_Handler_065630598" path="*.phtml" verb="*" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\php\php.exe" resourceType="Either" />
            <add name="Plesk_Handler_065630603" path="*.cgi" verb="GET,HEAD,POST" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="Either" />
            <add name="Plesk_Handler_065630610" path="*.pl" verb="GET,HEAD,POST" modules="CgiModule" scriptProcessor="c:\program files\parallels\plesk\additional\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="Either" />
            <add name="Plesk_Handler_065630613" path="*.plx" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="c:\program files\parallels\plesk\additional\perl\bin\perlis.dll" resourceType="Either" />
            <add name="Plesk_Handler_065630616" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="Plesk_Handler_065630617" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
