

INPUT		{
			font-family: Arial, Helvetica, Verdana;
			font-size: 9pt;
			backgrounf-color: white;
			color: black;
			border-bottom: gray 1px solid;
			border-left: gray 1px solid;
			border-right: gray 1px solid;
			border-top: gray 1px solid;
			}
			

			
