FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.form-bg {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: Arial, sans-serif, verdana; BACKGROUND-COLOR: #f7f7f7
}
.form-bg2 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Arial, sans-serif, verdana; BACKGROUND-COLOR: #ffffff
}
.txt_azul1 {
	FONT-SIZE: 10px; COLOR: #5189ba; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, verdana; TEXT-DECORATION: none
}
.txt_azul1 A:link {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, verdana; TEXT-DECORATION: none
}
.txt_azul1 A:visited {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, verdana; TEXT-DECORATION: none
}
.txt_azul1 A:hover {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, verdana; TEXT-DECORATION: underline
}
.txt_a_a_11 {
	FONT-SIZE: 11px; COLOR: #5189ba; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a_11 A:link {
	FONT-SIZE: 11px; COLOR: #2f6a97; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a_11 A:visited {
	FONT-SIZE: 11px; COLOR: #2f6a97; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a_11 A:hover {
	FONT-SIZE: 11px; COLOR: #5189ba; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a2_11 {
	FONT-SIZE: 11px; COLOR: #276b9f; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a2_11 A:link {
	FONT-SIZE: 11px; COLOR: #276b9f; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a2_11 A:visited {
	FONT-SIZE: 11px; COLOR: #276b9f; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a2_11 A:hover {
	FONT-SIZE: 11px; COLOR: #276b9f; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: underline
}
.txt_a_c_11 {
	FONT-SIZE: 11px; COLOR: #cccccc; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_c_11 A:link {
	FONT-SIZE: 11px; COLOR: #cccccc; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_c_11 A:visited {
	FONT-SIZE: 11px; COLOR: #cccccc; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_c_11 A:hover {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_cinza1 {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_cinza1 A:link {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_cinza1 A:visited {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_cinza1 A:hover {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: underline
}
.txt_cinza2 {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_cinza2 A:link {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_cinza2 A:visited {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_cinza2 A:hover {
	FONT-SIZE: 11px; COLOR: #999999; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_titulo {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_titulo A:link {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_titulo A:visited {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_titulo A:hover {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: sans-serif, arial, verdana; TEXT-DECORATION: none
}
.txt_a_a_12 {
	FONT-SIZE: 12px; COLOR: #5189ba; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a_12 A:link {
	FONT-SIZE: 12px; COLOR: #5189ba; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a_12 A:visited {
	FONT-SIZE: 12px; COLOR: #5189ba; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_a_12 A:hover {
	FONT-SIZE: 12px; COLOR: #2f6a97; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_p_11 {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_p_11 A:link {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_p_11 A:visited {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: none
}
.txt_a_p_11 A:hover {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Arial, sans-serif, verdana; TEXT-DECORATION: underline
}
.v_p_9_u {
	FONT-SIZE: 9px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.v_p_9_u A:link {
	FONT-SIZE: 9px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.v_p_9_u A:visited {
	FONT-SIZE: 9px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.v_p_9_u A:hover {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.txt_preto {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.txt_preto A:link {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.txt_preto A:visited {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.txt_preto A:hover {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
