BODY {
	FONT-SIZE: 10pt; COLOR: #000000; SCROLLBAR-ARROW-COLOR: #fff788; FONT-FAMILY: Verdana; SCROLLBAR-BASE-COLOR: #606096
}
TD {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana
}
A {
	FONT-SIZE: 10pt; COLOR: #000020; FONT-FAMILY: Verdana
}
A:link {
	FONT-SIZE: 10pt; COLOR: #000020; FONT-FAMILY: Verdana
}
A:visited {
	FONT-SIZE: 10pt; COLOR: #000020; FONT-FAMILY: Verdana
}
A:active {
	FONT-SIZE: 10pt; COLOR: #000020; FONT-FAMILY: Verdana
}
A:hover {
	FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Verdana
}
SELECT {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #cfcfcf
}
TEXTAREA {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #cfcfcf
}
INPUT {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #cfcfcf
}
.botao_sair {
	MARGIN-TOP: 5pt; FONT-SIZE: 8pt; WIDTH: 38px; COLOR: #000000; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana; HEIGHT: 16px; TEXT-ALIGN: center
}
