p { font: normal 10px Verdana, Arial, Helvetica, sans-serif; color: #939D90 }
a {  font: 10px Verdana, Arial, Helvetica, sans-serif; color: #666666; text-decoration: none}
a:hover { font: 10px Verdana, Arial, Helvetica, sans-serif; color: #333333; text-decoration: underline}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;





}