UNKNOWN {
	COLOR: #fe934c; TEXT-DECORATION: none
}
.menu:hover {
	TEXT-DECORATION: none
}
.sidemenu {
	COLOR: #fe934c; TEXT-DECORATION: none
}
.m1 {
	BORDER-RIGHT: #4d4d4d 1px solid; BORDER-TOP: #4d4d4d 1px solid; BORDER-LEFT: #4d4d4d 1px solid; BORDER-BOTTOM: #4d4d4d 1px solid
}
.orange {
	COLOR: #ff9900; TEXT-DECORATION: none
}
.orange:hover {
	TEXT-DECORATION: none
}
.dropshad {
	FILTER: DropShadow(OffX=2, OffY=3, color:#666666)
}
A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0099cc; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; COLOR: #e6e6e6; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #333333
}
TEXTAREA {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; COLOR: #e6e6e6; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #333333
}
SELECT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; COLOR: #e6e6e6; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #333333
}
INPUT {
	BORDER-BOTTOM-COLOR: #0099cc; BORDER-LEFT-COLOR: #0099cc; BORDER-RIGHT-COLOR: #0099cc; BORDER-TOP-COLOR: #0099cc; COLOR: #0099cc; FONT-SIZE: 10px; input.radio: #F4F6FB 
}
TEXTAREA {
	BORDER-BOTTOM-COLOR: #0099cc; BORDER-LEFT-COLOR: #0099cc; BORDER-RIGHT-COLOR: #0099cc; BORDER-TOP-COLOR: #0099cc; COLOR: #0099cc; FONT-SIZE: 10px; input.radio: #F4F6FB 
}
SELECT {
	BORDER-BOTTOM-COLOR: #0099cc; BORDER-LEFT-COLOR: #0099cc; BORDER-RIGHT-COLOR: #0099cc; BORDER-TOP-COLOR: #0099cc; COLOR: #0099cc; FONT-SIZE: 10px; input.radio: #F4F6FB 
}