.clr {
	CLEAR: both
}
.outline {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#pathway_outer {
	FLOAT: left; MARGIN-BOTTOM: 2px; WIDTH: 635px; MARGIN-RIGHT: 2px
}
#pathway_inner {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 21px
}
#pathway_text {
	DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 4px; HEIGHT: 18px
}
A.pathway {
	
}
#buttons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50%; PADDING-TOP: 0px
}
UL#mainlevel-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#mainlevel-nav LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: right; BACKGROUND-IMAGE: none; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 15%; LINE-HEIGHT: 21px; WHITE-SPACE: nowrap
}
UL#mainlevel-nav LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 100%; COLOR: #333333; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: auto
}
UL#mainlevel-nav LI A:hover {
	BACKGROUND: #d84203; COLOR: #ffcc00
}
#search_outer {
	FLOAT: left; WIDTH: 165px
}
#search_inner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 23px
}
#search_inner FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#search_inner .inputbox {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; COLOR: #ff6600; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: arial, helvetica, sans-serif
}
#header_outer {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/header_short.jpg) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 635px; MARGIN-RIGHT: 2px; PADDING-TOP: 0px; HEIGHT: 150px
}
#top_outer {
	FLOAT: left; WIDTH: 165px
}
#top_inner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 150px
}
#left_outer {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 165px
}
#left_inner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#content_outer {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 2px; WIDTH: 635px; PADDING-TOP: 0px
}
#content_inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 2px
}
TABLE.content_table {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
TABLE.content_table TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#banner_inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 70px
}
#poweredby_inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px; HEIGHT: 70px
}
#right_outer {
	MARGIN-LEFT: 2px; WIDTH: 165px
}
#right_inner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
.user1_inner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
.user2_inner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE TD.body_outer {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
#active_menu {
	FONT-WEIGHT: bold; COLOR: #ffcc00
}
A#active_menu:hover {
	COLOR: #e15704
}
.maintitle {
	PADDING-LEFT: 15px; FONT-SIZE: 40px; COLOR: #ffffff; PADDING-TOP: 20px
}
.error {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #cccccc; PADDING-TOP: 5px; FONT-STYLE: italic
}
.back_button {
	BORDER-RIGHT: #cccccc 3px double; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 3px double; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/button_bg.png) repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1px; BORDER-LEFT: #cccccc 3px double; WIDTH: auto; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 3px double; TEXT-ALIGN: center
}
.pagenav {
	BORDER-RIGHT: #cccccc 3px double; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 3px double; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/button_bg.png) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 1px; BORDER-LEFT: #cccccc 3px double; WIDTH: auto; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 3px double; TEXT-ALIGN: center
}
.pagenavbar {
	FLOAT: right; MARGIN-RIGHT: 10px
}
#footer {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	BACKGROUND-POSITION: 0px 3px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(../images/arrow.png); LINE-HEIGHT: 15px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
TD {
	FONT-SIZE: 11px; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 15px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Sans Serif; HEIGHT: 100%
}
A:link {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #c43c03; TEXT-DECORATION: none
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
TABLE.contentpaneopen TD {
	PADDING-RIGHT: 5px
}
TABLE.contentpaneopen TD.componentheading {
	PADDING-LEFT: 4px
}
TABLE.contentpane {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
TABLE.contentpane TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.contentpane TD.componentheading {
	PADDING-LEFT: 4px
}
.button {
	BORDER-RIGHT: #cccccc 3px double; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 3px double; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/button_bg.png) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 1px; BORDER-LEFT: #cccccc 3px double; WIDTH: auto; COLOR: #ff6600; LINE-HEIGHT: 16px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 3px double; FONT-FAMILY: Arial, Hevlvetica, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.inputbox {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.componentheading {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/subhead_bg.png) repeat-x; TEXT-TRANSFORM: uppercase; COLOR: #666666; PADDING-TOP: 4px; HEIGHT: 21px; TEXT-ALIGN: left
}
.contentcolumn {
	PADDING-RIGHT: 5px
}
.contentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/contenthead.png) repeat-x left top; COLOR: #666666; TEXT-INDENT: 15px; WHITE-SPACE: nowrap; HEIGHT: 30px
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cccccc; TEXT-ALIGN: left
}
TABLE.searchinto {
	WIDTH: 100%
}
TABLE.searchintro TD {
	FONT-WEIGHT: bold
}
TABLE.moduletable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
TABLE.moduletable TH {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/subhead_bg.png) repeat-x; TEXT-TRANSFORM: uppercase; COLOR: #666666; PADDING-TOP: 4px; HEIGHT: 21px; TEXT-ALIGN: left
}
TABLE.moduletable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.pollstableborder TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.sectiontableheader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.sectiontablefooter {
	
}
.sectiontableentry1 {
	BACKGROUND-COLOR: #ffffff
}
.sectiontableentry2 {
	BACKGROUND-COLOR: #f9f9f9
}
.small {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999
}
.createdate {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #999999; HEIGHT: 15px
}
.modifydate {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #999999; PADDING-TOP: 10px; HEIGHT: 15px
}
TABLE.contenttoc {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.contenttoc TH {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/subhead_bg.png) repeat-x; TEXT-TRANSFORM: uppercase; COLOR: #666666; PADDING-TOP: 2px; HEIGHT: 21px; TEXT-ALIGN: left
}
A.mainlevel:link {
	DISPLAY: block; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/menu_bg.png) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 25px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.mainlevel:visited {
	DISPLAY: block; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/menu_bg.png) no-repeat; VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 25px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.mainlevel:hover {
	BACKGROUND-POSITION: 0px -25px; COLOR: #333333; TEXT-DECORATION: none
}
A.sublevel:link {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ff6600; TEXT-ALIGN: left
}
A.sublevel:visited {
	PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ff6600; TEXT-ALIGN: left
}
A.sublevel:hover {
	COLOR: #c43c03; TEXT-DECORATION: none
}
.highlight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: blue; PADDING-TOP: 0px; BACKGROUND-COLOR: yellow
}
.code {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid; BACKGROUND-COLOR: #ddd
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.mosimage {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.mosimage {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.mosimage_caption {
	PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10px; BACKGROUND: #efefef; PADDING-BOTTOM: 1px; COLOR: #666; PADDING-TOP: 1px
}
